.banner{
  margin-top: 20px;
  height: 1020px;
}
.banner-header{
  border: 1px solid grey;
  display: flex;
  flex-direction: row;
  /* align-items: center;
  justify-content: center; */
  /* flex-wrap: wrap; */
}

.home{

  margin-left: 20px;
}
.welcome{
  border-top: 1px solid #000;
  padding-top: 10px;
  margin-top: 20px;
}
.user-container{
  border: 1px solid grey;
  height: 7%;
  margin: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  transition: transform .2s;
  /* background-color: #f1f3f4; */

}
.user-container:hover{
  background-color:#f1f3f4;
}
.user-container:hover .user-img{
    transform: scale(1.1);
  
}
.user-container:hover .user-name{
  transform: translateX(15px);

}
.user-container:hover .user-album{
  transform: translateX(15px);

}
.user-img{
  border: 1px solid grey;
  border-radius: 300px;
  height: 50px;
  width: 50px;
  margin-left: 20px;
}

.user-name{
  margin-left: 10px;
}
.user-album{
  padding: 2px;
  margin-left: 10px;
  border-radius: 100px;
}
.album-wrap{
  border: 1px solid grey;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -11px;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  
}
.album{
  height: 150px;
  width: 150px;
  text-align: center;
  padding-top: 5px;
 
}

.album-cover-img{
  height: 70%;
  width: 70%;
  border-radius: 10px;
  opacity: 0.9;
  
}
.album-cover-img:hover{
  opacity:1.0;
   
}

.title{
  margin-top: -1px;
}
.picture-courasel{
  position: fixed;
  top: 40%;
  left: 50%;
  border: 1px solid red;
  background-color: rgba(0, 0, 0, 0.5);

}
.closePicture{
  position: fixed;
  top: 5%;
  right: 50%;
  padding: 10px;
  border: none;
  border-radius: 100%;
}

.picture-wrap{
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  z-index: 999;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery{
  border: 1px solid black;
  height: 80%;
  width: 80%;
  background-color: #fff;
  overflow:scroll;
  box-shadow: -1px 0px 16px -5px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 0px 16px -5px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 16px -5px rgba(0,0,0,0.75);
}
.header-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(0, 0, 0, 1.2); */

}
.header{
  text-align: center;

  height: 50vh;
  width: 100vw;
  padding-bottom: 50px;
  padding-top: 20px;
  left: 0px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.dot{
  color:#ff5800;
}
.dot:target{
  color:#ff5800 ;
}
.title-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.header-title{
  padding-top: 50px;
  color: #fff;
  font-size: larger;
}
.header-title p{
  margin-bottom: -20px;
  font-style: italic;
}
.user-navbar{
  border: 1px solid greenyellow;
  margin-top: 20px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}
.user-navbar p{
  margin-left: 100px;
  text-decoration: underline;
  color: #ff5800;

}
.header-btn{
  padding: 10px;
  background-color: #ff5800;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: -10px;
}
.MdCameraEnhance{
  margin-left: 5px;
  padding: 0px;
}

.new-album-form{
  background-color: #ff5800;
  z-index: 99;

}

.btn{
  margin-top: 20px;
  padding: 10px;
  background-color:#ff5800;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-right: 5px;
  color: #fff;
  border-radius: 5px;
}
.popup-alert{
  background-color: #fff;
  width: 150px;
  color: #000;
  font-size: smaller;
  padding: 5px;
  margin-top:20px;
  border-left: 3px solid rgb(117, 255, 117) ;

}
.popup-alert h8{
  margin-left: 5px;
  font-weight: 100;
  margin-bottom: 105px;
}
.check{
  color:rgb(117, 255, 117) ;
  height: 20px;
  width: 20px;

}
.responsive-img h5{
  /* border: 1px solid grey; */
  margin-bottom: 5px;
  z-index: 90px;


}
.faEdit{
  margin-top: 18px;
}
.faEdit.active{
  color: #ff5800;
}
.photo-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pics_id{
  display: none;
}
.banner{
  height: 100vh;
  background-image: url('./../../new-images/anton-darius-jvR9ieZVG64-unsplash.jpg');
  /* background-image: cover; */
  background-size:cover;
  text-align: left;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  background-color:rgba(0, 0, 0, 0.5);
  margin-top: -10px;
}
.banner h1{
  font-size: 100px;
  color: #fff;


}
.banner p{
  font-size: 20px;
  color: #fff;

  margin-top: -60px;
}
.banner-title{
  margin-left: 50px;
}